<h1>Desplegando información {{nombreAlumno}}</h1>
<button (click)="cambio()">Cambio de alumno</button>
<button (click)="load()">Cargar info local storage</button>
<div *ngFor="let usuario of usuarios" >
  <h1>{{usuario.username}} -- {{usuario.fecha}}</h1>

</div>

<table>
<thead>
    <th>matricula</th>
    <th>Nombre</th>
    <th>carrera</th>
</thead>
<tbody>
    <tr *ngFor="let alumno of alumnos">
        <td><a (click)="onSelect(alumno)">{{alumno.matricula}}</a></td>
        <td>{{alumno.nombre}}</td>
        <td>{{alumno.carrera}}</td>
    </tr>
</tbody>
</table>

<div *ngIf="alumnoSeleccion">
    <h2>Nombre: {{alumnoSeleccion.nombre}}</h2>
    <p>matricula: {{alumnoSeleccion.matricula}}</p>
        <input   type= "text" [(ngModel)]="alumnoSeleccion.nombre" placeholder="nombre"/>

        <input   type= "text" [ngModel]="alumnoSeleccion.matricula" placeholder="matricula"/>


</div>
